.content {
  display: flex;
  height: calc(100vh - 52px);
  width: 100vw;
}

.map {
  width: 100%;
  height: 100%;
}

.searchBlock {
  min-width: 300px;

  padding: 0 20px;
}

.roadComponent {
  min-width: 500px;
}

.spravkaComponent,
.ant-collapse. {
  min-width: 300px;
}

#LayersStock {
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 0;
  width: 250px;
  height: calc(100vh - 52px);
  background: white;
  box-shadow: 1px 0px 2px #0000003b;
  transition: 1s;
}

#activeLayers {
  position: absolute;
  z-index: 998;
  top: 50px;
  left: 0;
  width: 300px;
  height: calc(100vh - 52px);
  background: white;
  box-shadow: 1px 0px 2px #0000003b;
  transition: 1s;
}
.addedLayer {
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.hidden {
  margin-left: -500px;
}

.show {
  margin-left: 0;
}
